apiVersion: v1
kind: Service
metadata:
  {{- include "common.metadata" (dict "name" (include "common.fullname" .) "root" $) | nindent 2 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - name: http
      port: {{ .Values.service.ports.http }}
      targetPort: http
      protocol: TCP
    - name: grpc
      port: {{ .Values.service.ports.grpc }}
      targetPort: grpc
      protocol: TCP
    - name: metrics
      port: {{ .Values.service.ports.metrics }}
      targetPort: metrics
      protocol: TCP
    {{- if .Values.headscale.derp.embeddedEnabled }}
    - name: stun
      port: {{ .Values.headscale.derp.embeddedPort }}
      targetPort: stun
      protocol: UDP
    {{- end }}
  selector:
    {{- include "common.selectorLabels" (dict "root" $ "component" "server") | nindent 4 }}
