apiVersion: v1
kind: Service
metadata:
  {{- include "common.metadata" (dict "name" (include "common.fullname" .) "root" $) | nindent 2 }}
spec:
  type: {{ .Values.service.type }}
  selector:
    {{- include "common.selectorLabels" (dict "root" $ "component" "server") | nindent 4 }}
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
